@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar{
  border-radius:0px;
}


.mobile_panel{
  margin-bottom: 0px;
  border-radius: 0px;
  border-left:0px;
  border-right:0px;
}

.return_button{
  border-top:0px;
  border-left:0px;
  border-right:0px;
  width:100%;
  border-radius: 0px;
}

.row-space{
  margin-bottom: 15px;
}

.search-field{
  width: 80%;
  margin:auto;
}

.content{
  padding-left: 15px;
  padding-right: 15px;
}