%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"} TaborBiblioteket
    %ul.nav.navbar-nav
      %li{ class: params[:loaned_out] == "false" ? "active" : "" }
        = link_to books_path(loaned_out: false) do
          = "Tilgængelige bøger"
      %li{ class: params[:loaned_out] == "true" ? "active" : "" }
        = link_to books_path(loaned_out: true) do
          = "Udlånte bøger"


